<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.qualitylabs.wikicoc" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="fr.qualitylabs.wikicoc.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="fr.qualitylabs.wikicoc.AboutActivity"
            android:label="@string/title_activity_about" >

            <!-- On indique à cette activité qu'elle a un parent qui est .HomeActivity, quand on cliquera sur le bouton Home (de la Action Bar) ça nous redirigera à ce parent -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.qualitylabs.wikicoc.HomeActivity" />
        </activity>
        <activity
            android:name="fr.qualitylabs.wikicoc.ChooseBuildingTypeActivity"
            android:label="@string/title_activity_choose_building_type"
            android:parentActivityName="fr.qualitylabs.wikicoc.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.qualitylabs.wikicoc.HomeActivity" />
        </activity>
        <activity
            android:name="fr.qualitylabs.wikicoc.DescribeBuildingDefenseActivity"
            android:label="@string/title_activity_describe_defense"
            android:parentActivityName="fr.qualitylabs.wikicoc.ChooseBuildingDefenseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.qualitylabs.wikicoc.ChooseBuildingDefenseActivity" />
        </activity>
        <activity
            android:name="fr.qualitylabs.wikicoc.ChooseBuildingDefenseActivity"
            android:label="@string/title_activity_choose_defense"
            android:parentActivityName="fr.qualitylabs.wikicoc.ChooseBuildingTypeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.qualitylabs.wikicoc.ChooseBuildingTypeActivity" />
        </activity>
        <activity
            android:name="fr.qualitylabs.wikicoc.ChooseTroopTypeActivity"
            android:label="@string/title_activity_choose_troop_type"
            android:parentActivityName="fr.qualitylabs.wikicoc.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.qualitylabs.wikicoc.HomeActivity" />
        </activity>
        <activity
            android:name="fr.qualitylabs.wikicoc.ChooseTroopWhiteActivity"
            android:label="@string/title_activity_choose_troop_white"
            android:parentActivityName="fr.qualitylabs.wikicoc.ChooseTroopTypeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.qualitylabs.wikicoc.ChooseTroopTypeActivity" />
        </activity>
        <activity
            android:name="fr.qualitylabs.wikicoc.DescribeTroopWhiteActivity"
            android:label="@string/title_activity_describe_troop_white"
            android:parentActivityName="fr.qualitylabs.wikicoc.ChooseTroopWhiteActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.qualitylabs.wikicoc.ChooseTroopWhiteActivity" />
        </activity>
        <activity
            android:name="fr.qualitylabs.wikicoc.ChooseTroopDarkActivity"
            android:label="@string/title_activity_choose_troop_dark"
            android:parentActivityName="fr.qualitylabs.wikicoc.ChooseTroopTypeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.qualitylabs.wikicoc.ChooseTroopTypeActivity" />
        </activity>
        <activity
            android:name="fr.qualitylabs.wikicoc.DescribeTroopDarkActivity"
            android:label="@string/title_activity_describe_troop_dark"
            android:parentActivityName="fr.qualitylabs.wikicoc.ChooseTroopDarkActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.qualitylabs.wikicoc.ChooseTroopDarkActivity" />
        </activity>
        <activity
            android:name="fr.qualitylabs.wikicoc.DescribeBuildingDefenseWallActivity"
            android:label="@string/title_activity_describe_building_defense_wall"
            android:parentActivityName="fr.qualitylabs.wikicoc.ChooseBuildingDefenseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.qualitylabs.wikicoc.ChooseBuildingDefenseActivity" />
        </activity>
        <activity
            android:name="fr.qualitylabs.wikicoc.DescribeBuildingDefenseXBowActivity"
            android:label="@string/title_activity_describe_building_defense_xbow"
            android:parentActivityName="fr.qualitylabs.wikicoc.ChooseBuildingDefenseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.qualitylabs.wikicoc.ChooseBuildingDefenseActivity" />
        </activity>
        <activity
            android:name="fr.qualitylabs.wikicoc.DescribeBuildingDefenseAirSweeperActivity"
            android:label="@string/title_activity_describe_building_defense_air_sweeper"
            android:parentActivityName="fr.qualitylabs.wikicoc.ChooseBuildingDefenseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.qualitylabs.wikicoc.ChooseBuildingDefenseActivity" />
        </activity>
        <activity
            android:name="fr.qualitylabs.wikicoc.DescribeBuildingDefenseInfernoTowerActivity"
            android:label="@string/title_activity_describe_building_defense_inferno_tower"
            android:parentActivityName="fr.qualitylabs.wikicoc.ChooseBuildingDefenseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.qualitylabs.wikicoc.ChooseBuildingDefenseActivity" />
        </activity>
        <activity
            android:name="fr.qualitylabs.wikicoc.ChooseBuildingTrapActivity"
            android:label="@string/title_activity_choose_building_trap"
            android:parentActivityName="fr.qualitylabs.wikicoc.ChooseBuildingTypeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.qualitylabs.wikicoc.ChooseBuildingTypeActivity" />
        </activity>
        <activity
            android:name="fr.qualitylabs.wikicoc.DescribeBuildingTrapActivity"
            android:label="@string/title_activity_describe_building_trap"
            android:parentActivityName="fr.qualitylabs.wikicoc.ChooseBuildingTrapActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.qualitylabs.wikicoc.ChooseBuildingTrapActivity" />
        </activity>
        <activity
            android:name="fr.qualitylabs.wikicoc.DescribeBuildingTrapSpringActivity"
            android:label="@string/title_activity_describe_building_trap_spring"
            android:parentActivityName="fr.qualitylabs.wikicoc.ChooseBuildingTrapActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.qualitylabs.wikicoc.ChooseBuildingTrapActivity" />
        </activity>
        <activity
            android:name="fr.qualitylabs.wikicoc.DescribeBuildingTrapSkeletonActivity"
            android:label="@string/title_activity_describe_building_trap_skeleton"
            android:parentActivityName="fr.qualitylabs.wikicoc.ChooseBuildingTrapActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.qualitylabs.wikicoc.ChooseBuildingTrapActivity" />
        </activity>
        <activity
            android:name="fr.qualitylabs.wikicoc.DescribeBuildingTrapGiantBombActivity"
            android:label="@string/title_activity_describe_building_trap_giant_bomb"
            android:parentActivityName="fr.qualitylabs.wikicoc.ChooseBuildingTrapActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.qualitylabs.wikicoc.ChooseBuildingTrapActivity" />
        </activity>
        <activity
            android:name="fr.qualitylabs.wikicoc.ChooseTroopHeroActivity"
            android:label="@string/title_activity_choose_troop_hero"
            android:parentActivityName="fr.qualitylabs.wikicoc.ChooseTroopTypeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.qualitylabs.wikicoc.ChooseTroopTypeActivity" />
        </activity>
    </application>

</manifest>
