<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.qualitylabs.wikiclashofclans" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about" >

            <!-- On indique à cette activité qu'elle a un parent qui est .HomeActivity, quand on cliquera sur le bouton Home (de la Action Bar) ça nous redirigera à ce parent -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".ChooseBuildingTypeActivity"
            android:label="@string/title_activity_choose_building_type"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.qualitylabs.wikiclashofclans.HomeActivity" />
        </activity>
        <activity
            android:name=".DescribeBuildingDefenseActivity"
            android:label="@string/title_activity_describe_defense"
            android:parentActivityName=".ChooseBuildingDefenseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChooseBuildingDefenseActivity" />
        </activity>
        <activity
            android:name=".ChooseBuildingDefenseActivity"
            android:label="@string/title_activity_choose_defense"
            android:parentActivityName=".ChooseBuildingTypeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.qualitylabs.wikiclashofclans.ChooseBuildingTypeActivity" />
        </activity>
        <activity
            android:name=".ChooseTroopTypeActivity"
            android:label="@string/title_activity_choose_troop_type"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.qualitylabs.wikiclashofclans.HomeActivity" />
        </activity>
        <activity
            android:name=".ChooseTroopWhiteActivity"
            android:label="@string/title_activity_choose_troop_white"
            android:parentActivityName=".ChooseTroopTypeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.qualitylabs.wikiclashofclans.ChooseTroopTypeActivity" />
        </activity>
        <activity
            android:name=".DescribeTroopWhiteActivity"
            android:label="@string/title_activity_describe_troop_white"
            android:parentActivityName=".ChooseTroopWhiteActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.qualitylabs.wikiclashofclans.ChooseTroopWhiteActivity" />
        </activity>
        <activity
            android:name=".ChooseTroopDarkActivity"
            android:label="@string/title_activity_choose_troop_dark"
            android:parentActivityName=".ChooseTroopTypeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.qualitylabs.wikiclashofclans.ChooseTroopTypeActivity" />
        </activity>
        <activity
            android:name=".DescribeTroopDarkActivity"
            android:label="@string/title_activity_describe_troop_dark"
            android:parentActivityName=".ChooseTroopDarkActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.qualitylabs.wikiclashofclans.ChooseTroopDarkActivity" />
        </activity>
        <activity
            android:name=".DescribeBuildingDefenseWallActivity"
            android:label="@string/title_activity_describe_building_defense_wall"
            android:parentActivityName=".ChooseBuildingDefenseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.qualitylabs.wikiclashofclans.ChooseBuildingDefenseActivity" />
        </activity>
        <activity
            android:name=".DescribeBuildingDefenseXBowActivity"
            android:label="@string/title_activity_describe_building_defense_xbow"
            android:parentActivityName=".ChooseBuildingDefenseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.qualitylabs.wikiclashofclans.ChooseBuildingDefenseActivity" />
        </activity>
        <activity
            android:name=".DescribeBuildingDefenseAirSweeperActivity"
            android:label="@string/title_activity_describe_building_defense_air_sweeper"
            android:parentActivityName=".ChooseBuildingDefenseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.qualitylabs.wikiclashofclans.ChooseBuildingDefenseActivity" />
        </activity>
        <activity
            android:name=".DescribeBuildingDefenseInfernoTowerActivity"
            android:label="@string/title_activity_describe_building_defense_inferno_tower"
            android:parentActivityName=".ChooseBuildingDefenseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.qualitylabs.wikiclashofclans.ChooseBuildingDefenseActivity" />
        </activity>
        <activity
            android:name=".ChooseBuildingTrapActivity"
            android:label="@string/title_activity_choose_building_trap"
            android:parentActivityName=".ChooseBuildingTypeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.qualitylabs.wikiclashofclans.ChooseBuildingTypeActivity" />
        </activity>
        <activity
            android:name=".DescribeBuildingTrapActivity"
            android:label="@string/title_activity_describe_building_trap"
            android:parentActivityName=".ChooseBuildingTrapActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.qualitylabs.wikiclashofclans.ChooseBuildingTrapActivity" />
        </activity>
        <activity
            android:name=".DescribeBuildingTrapSpringActivity"
            android:label="@string/title_activity_describe_building_trap_spring"
            android:parentActivityName=".ChooseBuildingTrapActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.qualitylabs.wikiclashofclans.ChooseBuildingTrapActivity" />
        </activity>
        <activity
            android:name=".DescribeBuildingTrapSkeletonActivity"
            android:label="@string/title_activity_describe_building_trap_skeleton"
            android:parentActivityName=".ChooseBuildingTrapActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.qualitylabs.wikiclashofclans.ChooseBuildingTrapActivity" />
        </activity>
        <activity
            android:name=".DescribeBuildingTrapGiantBombActivity"
            android:label="@string/title_activity_describe_building_trap_giant_bomb"
            android:parentActivityName=".ChooseBuildingTrapActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.qualitylabs.wikiclashofclans.ChooseBuildingTrapActivity" />
        </activity>
    </application>

</manifest>
